<div class="bg-color-nav-item-hover bd-rad-10 p-20-40 flex row align-i-center just-c-space-between">
   <div class="flex row gap-15 align-i-center">
     <div font="s-1.1rem w-600" class="w-200">
       <%= ingredient.material.name.truncate(20) %>
     </div>
    <div font="s-1.4rem w-100">|</div>
    <div class="w-80"><%= ingredient.quantity %><%= ingredient.material.unit %></div>
  </div>
</div>
