:root {
  --white: white;
  --border: #E2E8F0;
  --secondary-text: #565f6c;
  --good-status-bg: #16a34a;
  --bad-status-bg: orange;
  --foreground: black;
  --form-background: #eff6ff;
  --money: #16a34a;
  --error-text: red;
  --nav-bg: white;
  --stock-bar-full: #22c55e;
  --stock-bar-low: orange;
  --quantity-form-preview: #2564eb;
  --price-form-preview: #16a34a;
  --active-nav-item-bg: #dbeafe;
  --active-nav-item-fg: #1d4ed8;
  --nav-item-hover: #f3f4f6;
  --black-button-hover-bg: #0f172aFB;
  --white-button-hover-bg: #f1f5f9;
  --form-title: #1e40af;
}
