:root {
  --white: white;
  --border: #E2E8F0;
  --secondary-text: #565f6c;
  --good-status-bg: #16a34a;
  --bad-status-bg: red;
  --foreground: black;
  --form-background: #eff6ff;
  --money: #16a34a;
  --error-text: red;
  --nav-bg: white;
  --stock-bar: #22c55e;
}
