<div class="p-1.5rem">
  <h1 class="m-0">Settings</h1>
  <div class="p-10-20 bg-color-white common-shadow mt-24" border="1 solid color-border rad-5">
    <h2>Materials Management</h2>
    <%= turbo_frame_tag "new_material" do %>
      <%= button_to "+ Add Material", new_material_path,
                    method: :get,
                    class: "color-white p-10-20 bg-color-foreground pointer border-none border-rad-5" %>
    <% end %>
    <%= turbo_frame_tag "materials", class: "flex gap-40 flex-wrap mt-30" do %>
        <% @materials.each do |material| %>
          <%= render partial: material %>
        <% end %>
    <% end %>
  </div>
</div>
